.div1
{
    width: 80vw;
    height: 100vh;
    margin-left: 20vw;
    background:linear-gradient(to right bottom,rgba(97, 8, 241, 0.6)20%,rgba(255, 3, 200, 0.7),rgba(51, 247, 2, 0.5)70%) ;
    display: grid;
    place-items: center;
}
.sec1
{
    width: 80vw;
    height:auto;
    
    display: grid;
    place-items: center;
    
}
.sec1 h2
{
    font-weight: bold;
    color: black;
    font-family: cursive;
}
.sec1 #img1 
{
    margin-top: -120px;
}
@media (max-width:768px)
{
    .div1
    {
        width: 100vw;
        height: 100vh;
        margin-left:0;
        background: linear-gradient(to right bottom,rgba(97, 8, 241, 0.9)20%,rgba(255, 3, 200, 0.7),rgba(51, 247, 2, 0.5)70%);
        
    }
}